*{  
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 152px 0px;
    height: 900px;
    width: 1440px;
    background: var(--very-dark-blue-main-bg, #0D192C);
};

.image{
    width: 382px;
    height: 302px;
}


